<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MusicAI</title>
    <link rel="stylesheet" href="static/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
  </head>
  <body>
    <header>
      <a href="#home" class="logo">🎶Music<span>AI</span></a>
    </header>
    <section class="left">
      <img src="static/Text-to-Music-Email-Banner-Animated.gif" alt="MusicAi" />
      <a href="/tom" class="button">
          Generate Text To Music
          <i class="fa-solid fa-arrow-right" style="color: white; font-size:large; margin-left:5px; margin-top:8px;"></i>
      </a>
    </section>
    <section class="right">
      <img src="static/gif.gif" alt="New MusicAi Feature" />
      <a href="/Emotion" class="button2">
          Generate Emotions To Music<i class="fa-solid fa-arrow-right" style="color: white; font-size:large; margin-left:5px; margin-top:8px;"></i>
      </a>
    </section>
  </body>
</html>






